name: Build a DEB package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install depends package
      run: brew install ldid xz
      
    - name: Set up THEOS environment variable
      run: echo "export THEOS=~/theos" >> ~/.zprofile
      
    - name: Clone Theos
      run: git clone --recursive https://github.com/theos/theos.git $THEOS
        
    - name: Get an iOS SDK
      run: |
        curl -LO https://github.com/theos/sdks/archive/master.zip
        TMP=$(mktemp -d)
        unzip master.zip -d $TMP
        mv $TMP/sdks-master/*.sdk $THEOS/sdks
        rm -r master.zip $TMP
        
    - name: Build a package
      run: make package
      
    - uses: actions/upload-artifact@v3
      with:
        name: Power
        path: packages/*.deb
